*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(17, 13, 39);
    font-family: 'ogg';
    color:#fff;
}

h1{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size:4rem !important;
}

a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.todo-box{
    width:500px;
    height:auto;
    background-color: rgb(21, 21, 53);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(17, 13, 39) inset ;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items:center;
    padding-bottom: 40px;
}

.todo-form{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.todo-form form input{
    padding: 10px 8px;
    width: 50%;
    background:none;
    border:1px solid #ff0004;
    outline: none;
    color: #fff;
    font-family: 'ogg';
    font-size: 1.2rem;
    
}

.todo-form form input:last-child{
    width: 20%;
    cursor: pointer;
    background-color:#ff0004;
    font-weight: bold;
    margin-left:-5px;
}

.todo-item{
    width:80% !important;
    padding: 10px;
    margin: 0 20px;
    display:flex;
    justify-content:space-between;
    border:1px solid #ff0004;
    box-sizing: border-box;
}
.todo-item-title{
    display: flex;

}
.todo-item-title span{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border:1px solid #ff0004;
    font-size:0.9rem;
    line-height: 25px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}

.item-operation{
    padding-top: 8px;
}

.item-operation a:hover{
    color:#ff0004;
}

.clear-btn{
    margin-top: 30px;
    padding: 10px 35px;
    border:1px solid #ff0004;
    color: #fff;
    text-decoration: none;
}

.clear-btn:hover{
    background-color: #ff0004;
}

.messages{
    width: 80%;
    margin-bottom: 10px;
}

.messages ul{
    list-style: none;
    padding: none;
    margin: none;
}
.messages ul li {
    display: block;
    width: 100%;
    color: #fff;
    padding:10px 10px;
}

.messages ul li.danger{
    background-color: rgba(255,0,0,0.1);
    
}

.messages ul li.success{
    background-color: rgba(0,255,0,0.1);    
}